#main{
  display:;
  width:100%;
}
a{
  color:white;
    text-decoration: none;
  font-size:1em;
  font-family:Rock Salt;
}
body{
  background-color:#2C2C2c;
  color: white;
}
#main_nav{
  margin-bottom:100px;
  
}
li{
  list-style:none;

}
#favorite{
  position:absolute;
  left:80%;
  margin-right:15px;
  list-style:none;
}
#home{
  position:absolute;
  left:50%;
}
#about_me{
  justify-content:space-between;
}
.triangle-bottomleft {
  position:absolute;
  left:40%;
  opacity:.76;
	width: 0;
	height: 0;
	border-bottom: 90px solid #5889A5;
	border-right: 70px solid 
    transparent;
}
.triangle-bottomright {
  position:absolute;
  left:40%;
  opacity: .53;
	width: 0;
	height: 0;
	border-bottom: 90px solid #EB5757;
	border-left: 70px solid transparent;
}
#about_me{
  position:absolute;
  margin-left:5%
}
.triangle{
  margin-top:10px;
  padding-bottom:10px;
}

.arrow{
  position:relative;
width: 100px;
	height: 3px;
	background: white;
  top:-60px;
  left:15px;
}
#arrow{
  position:relative;
}
.top{
  position:relative;
  width:15px;
  height:3px;
  background:white;
  transform:rotate(25deg);
  left:15px;
  top:-59px;
}
.bottom{
  position:relative;
  width:15px;
  height:3px;
  background:white;
  transform:rotate(-25deg);
  left:15px;
  top:-70px;
}
.arrow_two{
  position:relative;
  width: 100px;
	height: 3px;
	background: white;
  top:-60px;
  left:80%;
}
.top_two{
  position:absolute;
  width:15px;
  height:3px;
  background:white;
  transform:rotate(25deg);
  top:-54px;
  left:91%;
}
.bottom_two{
  position:absolute;
  width:15px;
  height:3px;
  background:white;
  transform:rotate(-25deg);
  bottom:57px;
  left:91%;
  margin-right:14%;
}



#socials{
  
}
.socials{
	height: 40px;
	background: #5A302C;
  position: fixed;
 bottom: 0;
 width: 100%;
  margin-top:10px;
}
.social_text{
  height:35px;
}
.image_intro{
  float:right;
  height:100px;
  width:120px;
  background: white;
  padding:5px 5px 25px 5px;
  margin: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.7;
}
.image_intro:hover{
  height:200px;
  width:250px;
  opacity: 1.5;
}
div.polaroid {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba (0, 0, 0, 0.19);
  display:;}
.left{
  float:left;
}
.intro_left{
 position:absolute;
  left:10%;
  opacity:.36;
	width: 0;
	height: 0;
	border-bottom: 900px solid #5889A5;
	border-right: 500px solid 
    transparent;
}
.intro_right{
 position:absolute;
  left:15%;
  opacity: .13;
	width: 0;
	height: 0;
	border-bottom: 900px solid #EB5757;
	border-left: 500px solid transparent;
}
.favTitle{
  margin-top:50px;
}
.hafive{
  float:left;
}
}
#fav_content{
  position: relative;
  height:1700px;
  width:500px;
  margin:5px auto;
  background-color: #7A8F99;
}
.tvImage {
  float:left;
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  margin:15px;
    width: 150px;
}
section{
  background-color:;
  height:240px;
  padding:5px;
  margin:25px;
}
